/* **********************************************************************

// Footer

************************************************************************ */


//---------------------------
// 
//---------------------------


.footer {

	color:white;

	p{margin-top:0.5em;}

	p a {
		text-decoration:none;
		color:white;
		&:hover {text-decoration:underline;}

	}

}

.footer__menu {

	padding-left:0;

	ul {
		list-style:none;
		
	}
	li a {
		font-family:$contentFont-opensans;
		color:white;
		text-decoration:none;

		&:hover {text-decoration:underline;}


	}

	li {list-style:none;
		line-height:10px;
		margin-top:1.6em;
	}
}

.footer__title {
	font-family:$contentFont-opensans;
	margin-bottom:0;
}

.footer-icon {
	@include font-size(35);
	text-decoration:none;
	margin-top:0.75em;
	color:white;

	&:hover {
		text-decoration:none;
	}
}



